<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="com.petsbnb.persistance.mapper.ReservationMapper">

	<insert id="insertReservationInfo" parameterType="ReservationInfoDTO">
		INSERT INTO RESERVATION_INFO
		(
			IMP_UID,
			MERCHANT_UID,
			RESERVATION_NAME,
			AMOUNT,
			BUYER_ADDR,
			BUYER_EMAIL,
			BUYER_NAME,
			BUYER_POSTCODE,
			BUYER_TEL,
			CHECKIN,
			CHECKOUT,
			SERVICE_PROVIDER,
			SERVICE_RECEIVER,
			STDATE,
			EDDATE,
			STATUS,
			DEPOSIT_REFUND,
			REG_DT,
			REG_NO
		)
		VALUES
		(
			#{imp_uid},
			#{merchant_uid},
			#{reservationName},
			#{amount},
			#{buyerAddr},
			#{buyerEmail},
			#{buyerName},
			#{buyerPostcode},
			#{buyerTel},
			#{checkin},
			#{checkout},
			#{serviceProvider},
			#{serviceReceiver},
			#{stDate},
			#{edDate},
			#{status},
			#{depositRefund},
			NOW(),
			#{serviceReceiver}
		)
		<selectKey resultType="string" keyProperty="reservationInfoNo" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>
	
	<insert id="insertReservationPetInfo" parameterType="java.util.Map">
		INSERT INTO RESERVATION_PET_INFO
		(
			RESERVATION_INFO_NO,
			PET_NO,
			REG_DT,
			REG_NO
		)
		VALUES
		<foreach collection="reservationPetInfo" item="item" index="index" separator=",">
			(
				#{item.reservationInfoNo},
				#{item.petNo},
				NOW(),
				#{item.regNo}
			)
		</foreach>
	</insert>
	
	<select id="getServiceProviderToken" parameterType="string" resultType="string">
		SELECT DEVICE_TOKEN FROM USER_INFO WHERE USER_NO = #{serviceProvider}
	</select>
	
	<select id="getReservationList" parameterType="string" resultType="java.util.HashMap">
		SELECT RI.RESERVATION_INFO_NO 			AS id,
		       PFI.PET_FILE_NAME				AS petFileName, 
		       (
				CASE RI.STATUS 
					WHEN "1" THEN "승인 대기" 
		            WHEN "2" THEN "예약 승인"
		            WHEN "3" THEN "예약 반려"
		            WHEN "4" THEN "예약 취소"
		            WHEN "5" THEN "케어 진행"
					ELSE "케어 완료" 
				END
			   ) 								AS status, 
			   RI.STDATE						AS date, 
			   RI.RESERVATION_NAME				AS reservationName, 
			   UI.USER_NAME						AS sitter
		  FROM RESERVATION_INFO RI 
		 INNER JOIN RESERVATION_PET_INFO RPI
		    ON RI.RESERVATION_INFO_NO = RPI.RESERVATION_INFO_NO
		 INNER JOIN USER_INFO UI
		    ON RI.SERVICE_PROVIDER = UI.USER_NO
		 INNER JOIN PET_FILE_INFO PFI
		    ON RPI.PET_NO = PFI.PET_NO
		 WHERE RI.SERVICE_RECEIVER = #{serviceReceiver}
		 GROUP BY RI.RESERVATION_INFO_NO
		 ORDER BY RI.REG_DT DESC
	</select>
	
	<select id="getReservationDetail" parameterType="string" resultType="java.util.HashMap">
		SELECT FI.FILE_NAME						AS fileName,
		       PI.PETSITTER_NAME				AS petsitterName,
 			   PI.PETSITTER_NO 					AS petsitterNo,
		       PI.PETSITTER_INTRODUCE_ONELINE	AS petsitterIntroOne,
           	   RI.REG_DT 						AS regDt,
		       RI.STDATE						AS stDate,
		       RI.EDDATE						AS edDate,
		       RI.CHECKIN						AS checkin,
		       RI.CHECKOUT						AS checkout,
		       (
				CASE RI.STATUS 
					WHEN "1" THEN "승인 대기" 
		            WHEN "2" THEN "예약 승인"
		            WHEN "3" THEN "예약 반려"
		            WHEN "4" THEN "예약 취소"
		            WHEN "5" THEN "케어 진행"
					ELSE "케어 완료" 
				END
			   ) 								AS status
		  FROM RESERVATION_INFO RI 
		 INNER JOIN PETSITTER_INFO PI
		    ON RI.SERVICE_PROVIDER = PI.PETSITTER_NO
		 INNER JOIN USER_INFO UI
		    ON UI.USER_NO = PI.USER_NO
		 INNER JOIN FILE_INFO FI
		    ON UI.IMAGE_FILE_NO = FI.FILE_NO
		 WHERE RI.RESERVATION_INFO_NO = #{reservationNo}
	</select>
	
	<select id="getImpUid" parameterType="string" resultType="java.util.HashMap">
		SELECT IMP_UID	AS imp_uid
		  FROM RESERVATION_INFO
		 WHERE RESERVATION_INFO_NO = #{reservationNo}
	</select>
	
	<update id="updateReservationCancel" parameterType="string">
		UPDATE RESERVATION_INFO
		   SET STATUS = "4"
		 WHERE RESERVATION_INFO_NO = #{reservationNo}
	</update>
	
</mapper>